<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>About</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include('partials/navbar') %>

    <div class="container">
      <h2>ABOUT</h2>
      <div class="card">
        <h3>Description of App</h3>
        <p>
          This application functions as a personalized web music library tracker
          structured to catalogue tracks, cleanly search indexes, and randomize
          options directly from static structural layouts.
        </p>
        <hr style="border: 0; border-top: 1px solid #eee; margin: 20px 0" />
        <h3>About Myself</h3>
        <p>Hi! I'm an avid music lover.</p>
      </div>
    </div>
  </body>
</html>
